<% title "Purchases" %>

<table>
  <tr>
    <th>Date</th>
  </tr>
  <% for purchase in @purchases %>
    <tr>
      <td><%=h purchase.date %></td>
      <td><%= link_to "Show", purchase %></td>
      <td><%= link_to "Edit", edit_purchase_path(purchase) %></td>
      <td><%= link_to "Destroy", purchase, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New purchase", new_purchase_path %></p>
