<% title "Clients" %>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th>Address</th>
    <th>Email</th>
    <th>Rg</th>
  </tr>
  <% for client in @clients %>
    <tr>
      <td><%=h client.name %></td>
      <td><%=h client.telephone %></td>
      <td><%=h client.address %></td>
      <td><%=h client.email %></td>
      <td><%=h client.rg %></td>
      <td><%= link_to "Show", client %></td>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
      <td><%= link_to "Destroy", client, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Client", new_client_path %></p>
