<% title "Controle de Estoque" %>

<center><%= link_to "Produtos", products_path %> <%= link_to "Categorias", brands_path %></center>
<br />
<br />
<table cellspacing="1" class="tablesorter">
  <thead>  
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Preço de compra</th>
      <th>Quantidade estocada</th>
      <th>Quantidade mínima</th>
    </tr>
  </thead>
  <tbody>
  <% for product in @products %>
    <tr <% if product.stock_ammount == product.stock_minimum %> class="stock_minimum" <% end %>>
      <td><%=h product.name %></td>
      <td><%=h product.brand.name %></td>
      <td><%=h product.bought_price %></td>
      <td><%=h product.stock_ammount %></td>
      <td><%=h product.stock_minimum %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<div id="pager" class="pager">
    <form>
        <img src="./images/first.png" class="first" />
        <img src="./images/prev.png" class="prev" />
        <input type="text" class="pagedisplay">
        <img src="./images/next.png" class="next" />
        <img src="./images/last.png" class="last" />
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </form>
</div>
<%= link_to 'Exportar para o Excel', params.merge(:format => :xls) %>
