<% title "Sale" %>

<p>
  <strong>Customer:</strong>
  <%=h @sale.customer_id %>
</p>
<p>
  <strong>Date:</strong>
  <%=h @sale.date %>
</p>

<p>
  <%= link_to "Edit", edit_sale_path(@sale) %> |
  <%= link_to "Destroy", @sale, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sales_path %>
</p>
